PORT=3000
ETH_PRIVATE_KEY=0x...
CORS_ORIGIN=http://localhost:3000,https://app.prime.diffuse.fi,https://test.prime.diffuse.fi
DEBUG=true

AEGIS_BENEFICIARY=0x...
AEGIS_TOKEN_ADDRESS=0x...
AEGIS_API_KEY=...
AEGIS_API_URL=https://api.aegis.im/api/public/mint
AEGIS_REDEEM_URL=https://api.aegis.im/api/public/request-redeem
AEGIS_ADAPTER_ADDRESS=0xf57581db054b96E4EC0CE9ea95DED02A7A392EB0
ETH_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/...
