{
  "openapi": "3.0.0",
  "info": {
    "title": "Aegis Signer API",
    "version": "1.0.0",
    "description": "API for signing transactions and interacting with Aegis protocol."
  },
  "servers": [
    {
      "url": "https://api.prime.diffuse.fi",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local server"
    }
  ],
  "paths": {
    "/mint": {
      "post": {
        "summary": "Mint a transaction",
        "description": "Signs a collateral amount and asset, then forwards the request to the Aegis API. Optionally accepts an adapter_address override.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["collateral_amount", "slippage", "collateral_asset"],
                "properties": {
                  "collateral_amount": {
                    "type": "string",
                    "description": "Amount of collateral (e.g., '1000000' for 1 unit if decimals are 6)",
                    "example": "1000000"
                  },
                  "slippage": {
                    "type": "number",
                    "description": "Allowed slippage percentage",
                    "example": 1
                  },
                  "collateral_asset": {
                    "type": "string",
                    "description": "Address of the collateral asset",
                    "example": "0xdAC17F958D2ee523a2206206994597C13D831ec7"
                  },
                  "adapter_address": {
                    "type": "string",
                    "description": "Optional: Mint adapter override (beneficiary_address sent to Aegis). If omitted, server uses AEGIS_BENEFICIARY.",
                    "example": "0x..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "order": {
                          "type": "object"
                        },
                        "signature": {
                          "type": "string",
                          "description": "Signature from Aegis"
                        }
                      }
                    },
                    "encodedData": {
                      "type": "string",
                      "description": "ABI encoded data for smart contract interaction"
                    },
                    "signerSignature": {
                      "type": "string",
                      "description": "Intermediate signature generated by this signer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/redeem": {
      "post": {
        "summary": "Request redeem",
        "description": "Signs a yusd amount and collateral asset, then forwards the request to the Aegis API.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "yusd_amount",
                  "slippage",
                  "collateral_asset"
                ],
                "properties": {
                  "yusd_amount": {
                    "type": "string",
                    "description": "Amount of YUSD to redeem",
                    "example": "2000000000000000000"
                  },
                  "slippage": {
                    "type": "number",
                    "description": "Allowed slippage percentage",
                    "example": 5
                  },
                  "collateral_asset": {
                    "type": "string",
                    "description": "Address of the collateral asset to receive",
                    "example": "0xdAC17F958D2ee523a2206206994597C13D831ec7"
                  },
                  "adapter_address": {
                    "type": "string",
                    "description": "Optional: Manual override for Aegis adapter address",
                    "example": "0x..."
                  },
                  "instance_address": {
                    "type": "string",
                    "description": "Optional: Manual override for instance address",
                    "example": "0x..."
                  },
                  "instance_index": {
                    "type": "string",
                    "description": "Optional: Manual override for instance index",
                    "example": "0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "order": {
                          "type": "object"
                        },
                        "signature": {
                          "type": "string",
                          "description": "Signature from Aegis"
                        }
                      }
                    },
                    "encodedData": {
                      "type": "string",
                      "description": "ABI encoded data for smart contract interaction"
                    },
                    "signerSignature": {
                      "type": "string",
                      "description": "Intermediate signature generated by this signer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns the status of the server. For PT API, returns service name, USDC holder address, and viewer address.",
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "service": {
                      "type": "string",
                      "example": "pt-api",
                      "description": "Service name (pt-api for PT API endpoints)"
                    },
                    "usdcHolder": {
                      "type": "string",
                      "example": "0x123...",
                      "description": "USDC holder address used for simulations"
                    },
                    "viewerAddress": {
                      "type": "string",
                      "example": "0x456...",
                      "description": "Viewer contract address"
                    },
                    "signer": {
                      "type": "string",
                      "example": "0x123...",
                      "description": "Signer address (for main API)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getPtAmount": {
      "get": {
        "summary": "Get PT amount for USDC",
        "description": "Simulates PT purchase to calculate how much PT tokens can be bought with a given USDC amount. Supports both GET (query params) and POST (body) methods.",
        "parameters": [
          {
            "name": "usdc_amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Amount of USDC to spend (e.g., '1000000' for 1 USDC if decimals are 6)"
          },
          {
            "name": "vault_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vault contract address"
          },
          {
            "name": "strategy_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Strategy ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "finished": {
                      "type": "boolean",
                      "description": "Whether the simulation finished successfully"
                    },
                    "amounts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of amounts received (PT tokens)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (missing or invalid parameters)"
          },
          "502": {
            "description": "Contract simulation error"
          }
        }
      },
      "post": {
        "summary": "Get PT amount for USDC",
        "description": "Simulates PT purchase to calculate how much PT tokens can be bought with a given USDC amount. Supports both GET (query params) and POST (body) methods.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["usdc_amount", "vault_address", "strategy_id"],
                "properties": {
                  "usdc_amount": {
                    "type": "string",
                    "description": "Amount of USDC to spend (e.g., '1000000' for 1 USDC if decimals are 6). Also accepts camelCase: usdcAmount",
                    "example": "1000000"
                  },
                  "vault_address": {
                    "type": "string",
                    "description": "Vault contract address. Also accepts: vaultAddress, vault",
                    "example": "0x11D79cb50f7ac27A208C5D435440221729837485"
                  },
                  "strategy_id": {
                    "type": "string",
                    "description": "Strategy ID. Also accepts camelCase: strategyId",
                    "example": "0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "finished": {
                      "type": "boolean",
                      "description": "Whether the simulation finished successfully"
                    },
                    "amounts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of amounts received (PT tokens)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (missing or invalid parameters)"
          },
          "502": {
            "description": "Contract simulation error"
          }
        }
      }
    },
    "/getPtBuyBSLow": {
      "get": {
        "summary": "Get USDC amount needed for target PT amount",
        "description": "Simulates PT purchase to calculate how much USDC is needed to buy a target amount of PT tokens. Supports both GET (query params) and POST (body) methods.",
        "parameters": [
          {
            "name": "target_pt_amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10000000000000000000",
              "example": "10000000000000000000"
            },
            "description": "Target amount of PT tokens to buy (default: 10000000000000000000 = 10 PT with 18 decimals)"
          },
          {
            "name": "vault_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vault contract address"
          },
          {
            "name": "strategy_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Strategy ID"
          },
          {
            "name": "precision_bps",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "50"
            },
            "description": "Precision in basis points (default: 50 = 0.5%)"
          },
          {
            "name": "data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0x"
            },
            "description": "Additional data (hex string, default: 0x)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "finished": {
                      "type": "boolean",
                      "description": "Whether the simulation finished successfully"
                    },
                    "baseAssetAmount": {
                      "type": "string",
                      "description": "Amount of USDC needed to buy the target PT amount"
                    },
                    "amounts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of amounts received"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (missing or invalid parameters)"
          },
          "502": {
            "description": "Contract simulation error"
          }
        }
      },
      "post": {
        "summary": "Get USDC amount needed for target PT amount",
        "description": "Simulates PT purchase to calculate how much USDC is needed to buy a target amount of PT tokens. Supports both GET (query params) and POST (body) methods.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target_pt_amount", "vault_address", "strategy_id"],
                "properties": {
                  "target_pt_amount": {
                    "type": "string",
                    "description": "Target amount of PT tokens to buy (default: 10000000000000000000 = 10 PT with 18 decimals). Also accepts camelCase: targetPtAmount",
                    "example": "10000000000000000000",
                    "default": "10000000000000000000"
                  },
                  "vault_address": {
                    "type": "string",
                    "description": "Vault contract address. Also accepts: vaultAddress, vault",
                    "example": "0x11D79cb50f7ac27A208C5D435440221729837485"
                  },
                  "strategy_id": {
                    "type": "string",
                    "description": "Strategy ID. Also accepts camelCase: strategyId",
                    "example": "0"
                  },
                  "precision_bps": {
                    "type": "string",
                    "description": "Precision in basis points (default: 50 = 0.5%). Also accepts camelCase: precisionBps",
                    "example": "50",
                    "default": "50"
                  },
                  "data": {
                    "type": "string",
                    "description": "Additional data (hex string, default: 0x)",
                    "example": "0x",
                    "default": "0x"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "finished": {
                      "type": "boolean",
                      "description": "Whether the simulation finished successfully"
                    },
                    "baseAssetAmount": {
                      "type": "string",
                      "description": "Amount of USDC needed to buy the target PT amount"
                    },
                    "amounts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of amounts received"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (missing or invalid parameters)"
          },
          "502": {
            "description": "Contract simulation error"
          }
        }
      }
    },
    "/previewBorrow": {
      "get": {
        "summary": "Preview borrow operation",
        "description": "Previews a borrow operation to see what assets would be received. Supports both GET (query params) and POST (body) methods.",
        "parameters": [
          {
            "name": "vault_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vault contract address"
          },
          {
            "name": "strategy_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Strategy ID"
          },
          {
            "name": "collateral_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Collateral type (0 or 1)"
          },
          {
            "name": "collateral_amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Amount of collateral"
          },
          {
            "name": "assets_to_borrow",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Amount of assets to borrow"
          },
          {
            "name": "data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0x"
            },
            "description": "Additional data (hex string, default: 0x)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assetsReceived": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of assets that would be received"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (missing or invalid parameters) or insufficient liquidity"
          },
          "502": {
            "description": "Contract simulation error"
          }
        }
      },
      "post": {
        "summary": "Preview borrow operation",
        "description": "Previews a borrow operation to see what assets would be received. Supports both GET (query params) and POST (body) methods.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["vault_address", "strategy_id", "collateral_type", "collateral_amount", "assets_to_borrow"],
                "properties": {
                  "vault_address": {
                    "type": "string",
                    "description": "Vault contract address. Also accepts: vaultAddress, vault",
                    "example": "0x11D79cb50f7ac27A208C5D435440221729837485"
                  },
                  "strategy_id": {
                    "type": "string",
                    "description": "Strategy ID. Also accepts camelCase: strategyId",
                    "example": "0"
                  },
                  "collateral_type": {
                    "type": "string",
                    "description": "Collateral type (0 or 1). Also accepts camelCase: collateralType",
                    "example": "0"
                  },
                  "collateral_amount": {
                    "type": "string",
                    "description": "Amount of collateral. Also accepts camelCase: collateralAmount",
                    "example": "1000000"
                  },
                  "assets_to_borrow": {
                    "type": "string",
                    "description": "Amount of assets to borrow. Also accepts camelCase: assetsToBorrow",
                    "example": "500000"
                  },
                  "data": {
                    "type": "string",
                    "description": "Additional data (hex string, default: 0x)",
                    "example": "0x",
                    "default": "0x"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assetsReceived": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of assets that would be received"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (missing or invalid parameters) or insufficient liquidity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "availableLiquidity": {
                      "type": "string",
                      "description": "Available liquidity in vault (if insufficient)"
                    },
                    "requestedBorrow": {
                      "type": "string",
                      "description": "Requested borrow amount (if insufficient)"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Contract simulation error"
          }
        }
      }
    },
    "/simulateTokenSale": {
      "get": {
        "summary": "Simulate token sale through adapter chain",
        "description": "Simulates selling a token through a chain of adapters. Executes sequential buy calls and returns balance changes for intermediate and final tokens. Supports both GET (query params) and POST (body) methods.",
        "parameters": [
          {
            "name": "adapters",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "JSON array of adapter addresses, e.g. '[\"0x98271E06b882eb0a35Ca4739c2F80acFA7e2Aa91\"]'"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Amount of tokens to sell (in wei/smallest unit, string)"
          },
          {
            "name": "data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0x"
            },
            "description": "Additional data (hex string, default: 0x)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balanceChanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string",
                            "description": "Token address"
                          },
                          "change": {
                            "type": "string",
                            "description": "Balance change (in wei)"
                          }
                        }
                      },
                      "description": "Array of balance changes for each adapter's tokenOut"
                    },
                    "buyResults": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "finished": {
                            "type": "boolean",
                            "description": "Whether the buy operation finished successfully"
                          },
                          "amountOut": {
                            "type": "string",
                            "description": "Amount of tokens received (in wei)"
                          }
                        }
                      },
                      "description": "Results of buy calls for each adapter"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or TOKEN_IN not found in token-holders.json",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "tokenIn": {
                      "type": "string",
                      "description": "TOKEN_IN address that needs to be added to token-holders.json"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Contract simulation error"
          }
        }
      },
      "post": {
        "summary": "Simulate token sale through adapter chain",
        "description": "Simulates selling a token through a chain of adapters. Executes sequential buy calls and returns balance changes for intermediate and final tokens. Supports both GET (query params) and POST (body) methods.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["adapters", "amount"],
                "properties": {
                  "adapters": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of adapter addresses in execution order",
                    "example": ["0x98271E06b882eb0a35Ca4739c2F80acFA7e2Aa91"]
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount of tokens to sell (in wei/smallest unit, string)",
                    "example": "10000000000000000000000"
                  },
                  "data": {
                    "type": "string",
                    "description": "Additional data (hex string, default: 0x)",
                    "example": "0x",
                    "default": "0x"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balanceChanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string",
                            "description": "Token address"
                          },
                          "change": {
                            "type": "string",
                            "description": "Balance change (in wei)"
                          }
                        }
                      },
                      "description": "Array of balance changes for each adapter's tokenOut"
                    },
                    "buyResults": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "finished": {
                            "type": "boolean",
                            "description": "Whether the buy operation finished successfully"
                          },
                          "amountOut": {
                            "type": "string",
                            "description": "Amount of tokens received (in wei)"
                          }
                        }
                      },
                      "description": "Results of buy calls for each adapter"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or TOKEN_IN not found in token-holders.json",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "tokenIn": {
                      "type": "string",
                      "description": "TOKEN_IN address that needs to be added to token-holders.json"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Contract simulation error"
          }
        }
      }
    },
    "/convert": {
      "get": {
        "summary": "Get limit order data for USDC to PT conversion",
        "description": "Fetches limit order routing data from Pendle API for converting USDC to PT tokens. Returns both raw limit order data and ABI-encoded data for on-chain use. Supports both GET (query params) and POST (body) methods.",
        "parameters": [
          {
            "name": "base_token_amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Amount of USDC to convert (e.g., '1000000000' for 1000 USDC with 6 decimals)"
          },
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pendle market address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "limitOrderData": {
                      "type": "object",
                      "description": "Raw limit order data from Pendle API containing order book entries",
                      "properties": {
                        "yt": {
                          "type": "string",
                          "description": "YT token address"
                        },
                        "pt": {
                          "type": "string",
                          "description": "PT token address"
                        },
                        "sy": {
                          "type": "string",
                          "description": "SY token address"
                        },
                        "netInputFromLimit": {
                          "type": "string",
                          "description": "Net input amount routed through limit orders"
                        },
                        "netOutputToLimit": {
                          "type": "string",
                          "description": "Net output amount from limit orders"
                        },
                        "orderDetails": {
                          "type": "array",
                          "description": "Array of limit order details",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "encoded": {
                      "type": "string",
                      "description": "ABI-encoded limit order data for on-chain smart contract calls"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (missing or invalid parameters)"
          },
          "502": {
            "description": "Pendle API error or no limit order data available"
          }
        }
      },
      "post": {
        "summary": "Get limit order data for USDC to PT conversion",
        "description": "Fetches limit order routing data from Pendle API for converting USDC to PT tokens. Returns both raw limit order data and ABI-encoded data for on-chain use. Supports both GET (query params) and POST (body) methods.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["base_token_amount", "market"],
                "properties": {
                  "base_token_amount": {
                    "type": "string",
                    "description": "Amount of USDC to convert (e.g., '1000000000' for 1000 USDC with 6 decimals). Also accepts camelCase: baseTokenAmount",
                    "example": "1000000000"
                  },
                  "market": {
                    "type": "string",
                    "description": "Pendle market address. Also accepts: strategy",
                    "example": "0xB451A36c8B6b2EAc77AD0737BA732818143A0E25"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "limitOrderData": {
                      "type": "object",
                      "description": "Raw limit order data from Pendle API containing order book entries",
                      "properties": {
                        "yt": {
                          "type": "string",
                          "description": "YT token address"
                        },
                        "pt": {
                          "type": "string",
                          "description": "PT token address"
                        },
                        "sy": {
                          "type": "string",
                          "description": "SY token address"
                        },
                        "netInputFromLimit": {
                          "type": "string",
                          "description": "Net input amount routed through limit orders"
                        },
                        "netOutputToLimit": {
                          "type": "string",
                          "description": "Net output amount from limit orders"
                        },
                        "orderDetails": {
                          "type": "array",
                          "description": "Array of limit order details",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "encoded": {
                      "type": "string",
                      "description": "ABI-encoded limit order data for on-chain smart contract calls"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (missing or invalid parameters)"
          },
          "502": {
            "description": "Pendle API error or no limit order data available"
          }
        }
      }
    }
  }
}

